@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
}

:root {
  font-family: "Inter";

  /* Colors */
  --primary: #0b80d3;
  --secondary: #9022f1; 
  --light: #ffffff;
  --dark: #f2f2f2;
  --very-dark: #131313;

  --border-radius: 0.25rem;

  --task-height: 6rem;

  /* Main theme */
  /* background-color: var(--very-dark); */
  /* color: var(--light); */
}

#content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#task-form {
  background-color: var(--dark);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border-radius);
  box-shadow: 0px 1px 5px gray;

  padding: 1rem 2rem;

  height: var(--task-height);

}

#task-form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

#task-form-section input[name=title] {
  font-size: 1.5rem;
  width: 100%;

  padding: 0.5rem 1rem;

  /* Remove background */
  background-color: var(--dark);
  border: none;

  /* Remove radius */
  border-radius: 0px;
}

#task-form-section input[name=title]:hover {
  background-color: var(--light);
}

#task-form-date-category {
  display: flex;
  gap: 1rem;
}

#task-form-date-category input {
  color: gray;

  min-height: 2rem;
  font-size: 1rem;

  /* Remove background */
  background-color: var(--dark);
  border: none;
  
  /* Make input and select the same size */
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 1.2;
  vertical-align: middle;
}

#task-form-date-category input:hover {
  background-color: var(--light);
}

#task-form-date-category select {
  color: gray;

  min-height: 2rem;
  font-size: 1rem;

  /* Remove background */
  background-color: var(--dark);
  border: none;
  
  /* Make input and select the same size */
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 1.2;
  vertical-align: middle;
}

#task-form-date-category select:hover {
  background-color: var(--light);
}

#button-container {
  display: flex;
  width: 10%;
  
  justify-content: center;
  align-items: center;
}

#task-form button {
  font-size: 3rem;
  color: gray;

  border-radius: 50%;

  height: 4rem;
  width: 4rem;

  border: none;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}


#task-form button:hover {
  background-color: darkcyan;
  color: cyan;
}

/* Task */
.task {
  background-color: rgb(232, 232, 232);
  height: var(--task-height);

  border-radius: var(--border-radius);
  box-shadow: 0px 1px 5px gray;

  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.task-content {
  display: flex;
  flex-direction: column;
}

.date-category-container {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.task-chevron{
  position: relative;
  width: 1rem;
}


