@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
}

:root {
  font-family: "Inter";

  /* Colors */
  --primary: #0b80d3;
  --secondary: #9022f1; 
  --light: #ffffff;
  --medium: #fefefe;
  --dark: #f2f2f2;
  --very-dark: #7a7a7a;

  --border-radius: 0.25rem;

  --task-height: 6rem;

  /* Main theme */
  /* background-color: var(--very-dark); */
  /* color: var(--light); */
}

body {
  margin: 0;
  
  height: 100%;

  display: flex;
}

/* Aside */
aside {
  height: 100vh;
  width: 25%;

  background-color: var(--dark);

  padding-top: 12rem;
}

#categories-menu {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0rem;
}

#categories-menu li:first-child {
  border-bottom: 1px solid lightgray; /* Only apply the bottom border */

  margin-bottom: 1rem;
  padding-bottom: 1rem;
  
}

#categories-menu li {
  height: 3rem;

  list-style: none;
}

#categories-menu li button {
  text-decoration: none;
  color: black;

  border: none;

  width: 100%;
  height: 100%;

  text-align: left;
  font-size: 1.125rem;

  padding: 0 1rem;
}

#categories-menu li button:hover {
  background-color: var(--very-dark);
}

.menu-active {
  background-color: lightblue; /* You can style this as needed */
  color: white;
  font-weight: bold;
}

/* Main body */
main {
  display: flex;
  flex-direction: column;

  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;

  width: 75%;

  padding: 1rem 8rem;
}

header {
  height: 12rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* Background color */
  background: rgb(2,0,36);
  background: linear-gradient(60deg, rgba(2,0,36,0.5131302521008403) 0%, rgba(9,9,121,0.7428221288515406) 35%, rgba(0,212,255,1) 100%);

  /* Font color */
  color: white;

  padding: 0 4rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#task-form {
  background-color: var(--dark);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border-radius);
  box-shadow: 0px 1px 5px gray;


  padding: 1rem 2rem;
  margin-bottom: 1rem;

  height: var(--task-height);
}

#task-form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

#task-form-section input[name=title] {
  font-size: 1.5rem;
  width: 100%;

  padding: 0.5rem 1rem;

  /* Remove background */
  background-color: var(--dark);
  border: none;

  /* Remove radius */
  border-radius: 0px;
}

#task-form-section input[name=title]:hover {
  background-color: var(--light);
}

#task-form-date-category {
  display: flex;
  gap: 1rem;
}

#task-form-date-category input {
  color: gray;

  min-height: 2rem;
  font-size: 1rem;

  /* Remove background */
  background-color: var(--dark);
  border: none;
  
  /* Make input and select the same size */
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 1.2;
  vertical-align: middle;
}

#task-form-date-category input:hover {
  background-color: var(--light);
}

#task-form-date-category select {
  color: gray;

  min-height: 2rem;
  font-size: 1rem;

  /* Remove background */
  background-color: var(--dark);
  border: none;
  
  /* Make input and select the same size */
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 1.2;
  vertical-align: middle;
}

#task-form-date-category select:hover {
  background-color: var(--light);
}

#button-container {
  display: flex;
  width: 10%;
  
  justify-content: center;
  align-items: center;
}

#task-form button {
  font-size: 3rem;
  color: gray;
  background-color: var(--light);
  border-radius: var(--border-radius);

  height: 4rem;
  width: 4rem;

  border: none;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#task-form button:hover {
  background-color: var(--very-dark);
  color: var(--light);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Task */
.task {
  background-color: var(--dark);

  height: var(--task-height);
  overflow: hidden;

  border-radius: var(--border-radius);
  box-shadow: 0px 1px 5px gray;

  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Checkbox */
.task .status {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 1rem;
}

.task-content {
  display: flex;
  flex-direction: column;

  width: 80%;

  padding-bottom: 0.125rem;
}

.title {
  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  
}

.description {
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 0;
}

.date-category-container {
  display: flex;
  align-items: center;

  gap: 1rem;
  margin: 0;

  color: var(--very-dark);
}

.task-chevron{
  display: flex;

  width: 3rem;
  height: 3rem;
  stroke: var(--very-dark);
  /* background-color: var(--light); */

  border-radius: var(--border-radius);

  border: none;
  user-select: none;

  cursor: pointer;
}

/* ******************************************************** */
/* Modal */
#add-category-modal {
  border: none;

  font-size: 1.25rem;

  /* width: 24rem;
  height: 8rem; */


  padding: 2rem;

  box-shadow: 0px 1px 5px gray;
  border-radius: var(--border-radius);
}

#add-category-modal > form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-content: space-between;
}

#category-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#category-modal-header > h2 {
  margin: 0;
}

#category-modal-fields {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#category-modal-fields > div {
  display: flex;
  flex-direction: column;
}

/* Make emoji input small, category long */
#category-modal-fields > div:first-child {
  width: 25%;
}

#category-modal-fields > div:last-child {
  width: 75%;
}

/* Styles for the emoji input */
#category-modal-fields button[name=emoji] {
  font-size: 2rem;

  border: none;
  background: none;
  padding: none;

  text-align: center;
  line-height: 2.5rem;
}

#category-modal-fields button[name=emoji]:hover { 
  background-color: var(--dark);
}


.category-modal-button {
  border: none;
  width: 4rem;
  height: 2rem;

  font-size: 1.25rem;
}

.category-modal-button:hover {
  background-color: var(--very-dark);
  cursor: pointer;
}

#category-modal-fields input {
  font-size: 1.25rem;

  padding: 0.5rem;
}

emoji-picker {
  position: absolute;
}
